* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #17223b;
    color: white;
}
nav li {
    list-style: none;
    
}
nav a {
    text-decoration: none;
    display: inline-block;
    padding: 50px;
    color: #f2f6f5;
    font-size: 1.2rem;
}
nav a:hover, nav a:active{
    color: #c8dad3;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav {
    display: flex;
    justify-content: center;
    
}
main {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.alphabetM {
    
    position: relative;
    left: 100px;
    top: 1px;
}
.m1 {
    height: 100px;
    width: 30px;
    position: absolute;
    background: linear-gradient(to bottom, pink,transparent 90%);
    transform: rotate(200deg);
    border-radius: 100%;
}
.m2 {
    height: 80px;
    width: 30px;
    position: absolute;
    background: linear-gradient(to bottom, pink,transparent 90%);
    border-radius: 100%;
    transform: rotate(160deg);
}
.m3 {
    height: 80px;
    width: 30px;
    position: absolute;
    background: linear-gradient(to bottom, pink,transparent 90%);
    border-radius: 100%;
    left: 25px;
    transform: rotate(200deg);
}
.m4 {
    height: 100px;
    position: absolute;
    width: 30px;
    background: linear-gradient(to bottom, pink,transparent 90%);
    border-radius: 100%;
    left: 25px;
    transform: rotate(160deg);
}